/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body{
  background-image: url('file:///Users/mohamed/Desktop/WEBDEV/projects/pokedex/img/wp10200979-pokemon-map-wallpapers%20(1).png');
  background-size: cover;
  margin: 0%;
}

.menuItems{
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  gap: .5%;
  font-family:'Pokemon GB';
  font-size: 0.7rem;
  padding-top: 1%;
  margin-right: 1%;
}

.menuItems a {
  text-decoration: none;
  color: white;
}

.menuItems a:hover {
  text-decoration: none;
  color: #B3A125;
}

.banner{
  background-color: #064E40;
  height: 170px;
  border-bottom-left-radius: 3%;
  border-bottom-right-radius: 3%;
  opacity: 0.88;
}

.titleBanner{
  display: flex;
  justify-content: center;
  width: 35%;
  border: 5px solid grey;
  margin: 2% auto;
  border-radius: 3%;
  background-color: #3B4CCA;
  opacity: 2;
}

h1{
  margin: 3%;
  text-align: center;
  color: white;
  font-family:'Pokemon GB', Helvetica;
  font-size: 1.3rem;

}

.main{
  background-image: url('file:///Users/mohamed/Desktop/WEBDEV/projects/pokedex/img/wp10200979-pokemon-map-wallpapers%20(1).png');
  background-size: cover;
  margin: 0%;
}

.inputForm{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin: 0% auto;
  padding-top: 2%;
  width: 50%;
  color: white;
  font-family: 'Pokemon GB', Helvetica, sans-serif;
  font-size: 0.8rem
}

.inputForm button:hover{
  cursor: pointer;
}


.pokemonDataSelection{
  display: flex;
  width: 70%;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid black;
  margin: 0% auto;
}



.clear{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin: 0% auto;
  padding-bottom: 5%;
  width: 50%;
  /* height: 30px; */
  color: white;
  font-family: Helvetica, sans-serif;



/******************************************
/* ADDITIONAL STYLES
/*******************************************/
